.pickup,.drop{
    display: flex;
    background-color: #ffffff;
    margin-bottom: 4%;
    margin-top: 3px;
    border: 2px solid black;
    padding-top: 2%;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.pickup .location,.drop .location{
    height: 27px;
}
 
/* .css-i4bv87-MuiSvgIcon-root {
    margin-left: 20vw;
} */